body {
    margin-top: 0;
}
.header {
    top: 0;
    height: 60px;
    border-bottom-color: #777777;
    border-bottom-width: 10px;
}
.logo-wrapper {
    position: relative;
    top: 0;
    left: 200px;
    display: inline-block;
}
.logo {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    width: 250px;
    height: 50px;
    text-decoration-color: #777777;
    text-shadow: 1px 3px 8px #545454;
    text-align: center;
    background-color: #4aaaa5;
    
}
.nav {
    position: relative;
    right: -550px;
    display: inline-block;



}
.nav a {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.container {
    margin-top: 200px;
    width: 960px;
}